@import "../../assets/values";

.main-form{
  width: 80%;
}

.form {
  display: flex;
  border-radius: 10px;
  border: 2px solid #570CFF;
  overflow: hidden;
  background: transparent;
  margin: 20px 0 40px;
}

.input {
  border: none;
  background: transparent;
  padding: 20px;
  width: 80%;
  outline: none;
  font-size: .9rem;
  font-weight: 600;

  &::placeholder{
    color: white;
    font-size: .9rem;
  }

}

.form-button {
  width: 20%;
  background: $purple-gradient;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.edit-form{
  border: 2px solid #FB6612;
}

.edit-button{
  background: $orange-gradient;
}