$list-bg: #121520;

$purple-gradient: linear-gradient(to right, #570CFF, #8E00FD);
$orange-gradient: linear-gradient(to right, #FB6612, #FE4A0F);
$blue-gradient: linear-gradient(to right, #2e17fd, #5967fe);
$pink-gradient: linear-gradient(to right, #FC0AE4, #F70080);



